/* .animate-main {
  width: 100%;
  min-height: 100vh;
  background-color: aquamarine;
}

.span1 {
  width: 60%;

  border: 1px solid red;
  position: absolute;
  height: 25vh;
}

.span2 {
  width: 60%;
  border: 1px solid yellow;
  position: absolute;
  height: 25vh;
}

.span3 {
  width: 60%;

  border: 1px solid orangered;
  position: absolute;
  height: 25vh;
}

.span4 {
  width: 60%;
  border: 1px solid olive;
  position: absolute;
  height: 25vh;
}

.col1:hover .span1 {
  width: 75%;
  transform: translateY(-50px);
  position: absolute;
  background-color: bisque;
  transition: 500ms all ease-in-out;

  z-index: 4;
}

.col1:hover .span2 {
  width: 70%;
  transform: translateY(-40px);
  position: absolute;
  background-color: blanchedalmond;
  transition: 500ms all ease-in-out;

  z-index: 3;
}
.col1:hover .span3 {
  transform: translateY(-30px);
  position: absolute;
  background-color: brown;
  transition: 500ms all ease-in-out;

  width: 65%;
  z-index: 2;
}
.col1:hover .span4 {
  width: 60%;
  transform: translateY(-20px);
  position: absolute;
  background-color: blueviolet;
  z-index: 1;
  transition: 500ms all ease-in-out;
}

.animate-main h6 {
  text-align: center;
}

.animate-main p {
  text-align: center;
  width: 90%;
} */

.animate-main {
  width: 100%;
  min-height: 100vh;
  background-color: #edf1ff;
}

.main-heading {
  text-align: center;
}

.main-heading h1 {
  font-size: 56px;
  color: #05386b;
}

.main-heading h2 {
  font-size: 56px;
  color: #05386b;
}
.main-heading h6 {
  font-size: 30px;
  opacity: 0.7;
}

.spanned {
  border: 1px solid #05386b;
}
.span1 {
  width: 80%;
  padding: 40px 0;

  position: absolute;
  height: 25vh;
}

.span2 {
  width: 80%;
  position: absolute;
  height: 25vh;
}

.span3 {
  width: 80%;

  position: absolute;
  height: 25vh;
}

.span4 {
  width: 80%;
  position: absolute;
  height: 25vh;
}

.col1 {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col1:hover .span1 {
  width: 80%;
  transform: translateY(-50px);
  position: absolute;
  /* background-color: #13202d; */
  background-color: #edf1ff;

  transition: 500ms all ease-in-out;

  box-shadow: 0 0 10px #05386b;
  border: 2px solid #05386b;

  z-index: 4;
}

.col1:hover .span2 {
  width: 75%;
  transform: translateY(-40px);
  position: absolute;
  background-color: #edf1ff;

  /* background-color: #13202d; */

  transition: 500ms all ease-in-out;

  z-index: 3;
}
.col1:hover .span3 {
  transform: translateY(-30px);
  position: absolute;
  /* background-color: #13202d; */
  background-color: #edf1ff;

  transition: 500ms all ease-in-out;

  width: 70%;
  z-index: 2;
}
.col1:hover .span4 {
  width: 65%;
  transform: translateY(-20px);
  position: absolute;
  background-color: #edf1ff;

  /* background-color: #13202d; */

  z-index: 1;
  transition: 500ms all ease-in-out;
}

.col1:hover p {
  /* color: white; */
}
.animate-main h5 {
  text-align: center;
  color: #2569e6;
}

.animate-main p {
  text-align: center;

  width: 90%;
}

/* hghgjhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh */

.span12 {
  width: 80%;
  padding: 40px 0;

  position: absolute;
  height: 25vh;
}

.span22 {
  width: 80%;
  position: absolute;
  height: 25vh;
}

.span32 {
  width: 80%;

  position: absolute;
  height: 25vh;
}

.span42 {
  width: 80%;
  position: absolute;
  height: 25vh;
}

.col1:hover .span12 {
  width: 80%;
  transform: translateY(50px);
  position: absolute;
  background-color: #edf1ff;

  /* background-color: #13202d; */

  transition: 500ms all ease-in-out;
  /* transition: box-shadow linear 1s; */

  box-shadow: 0 0 10px #05386b;
  border: 2px solid #05386b;

  z-index: 4;
}

.col1:hover .span22 {
  width: 75%;
  transform: translateY(40px);
  position: absolute;
  background-color: #edf1ff;

  /* background-color: #13202d; */

  transition: 500ms all ease-in-out;

  z-index: 3;
}
.col1:hover .span32 {
  transform: translateY(30px);
  position: absolute;
  background-color: #edf1ff;

  /* background-color: #13202d; */

  transition: 500ms all ease-in-out;

  width: 70%;
  z-index: 2;
}
.col1:hover .span42 {
  width: 65%;
  transform: translateY(20px);
  position: absolute;
  background-color: #edf1ff;

  /* background-color: #13202d; */

  z-index: 1;
  transition: 500ms all ease-in-out;
}
